html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ 
font-family: Footlight MT Light;
font-size:20px;
  background: DodgerBlue;
  color: black;}

hr
{border-width:4px;
}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;
font-family: Footlight MT Light;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ color: white;
  letter-spacing: 0em;
  padding: 0 0 5px 0;
font-family:Engravers MT;}

h1, h2
{ font -family: Engravers MT;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: white;}

h2
{ font-size: 160%;
  padding: 9px 0 5px 0;
  color: LimeGreen;}

h3
{ font-size: 140%;
  padding: 5px 0 0 0;
color: LimeGreen}

h4, h6
{ color: Black;
  padding: 0 0 5px 0;
  font-family: Footlight MT Light;
}

h5, h6
{ color: #888;
  font: normal 95% arial;
  letter-spacing: normal;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: DarkBlue;
font-size:18px;}

a:hover
{ text-decoration: none;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;}

ol
{ \margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}


#banner
{  background: transparent url(marinaruncover.jpg) no-repeat;
  width: 860px;
  height: 455px;
  margin-bottom: 20px;
  border: 10px solid #DDD;}

#menubar
{ width: 700px;
  height: 60px;
  padding-right: 1000px;
padding-top: 20px;
padding-bottom:20px;
  background: Black;
  border-top: 1px solid #3D3D3D;} 

ul#menu
{ float: center;
  margin: 50
}

ul#menu li
{ float: left;
  padding: 0 0 0 9px;
  list-style: none;
  margin: 8px 4px 0 4px;
}

ul#menu li a
{ font-family: ComicSansMS;
font-size: 15px;
  display: block; 
  float: center; 
  height: 20px;
padding: 6px 20px 6px 20px;
  text-align: center;
  color: Black;
  text-decoration: none;
  background: Teal;} 

ul#menu li.selected a
{ height: 20px;
  padding: 6px 20px 5px 11px;}0

ul#menu li.selected
{ margin: 8px 4px 0 13px;
  background: White;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ background: YellowGreen;
  color: White;}

ul#menu li a:hover
{ color: SpringGreen;}

#site_content
{ width: 880px;
  overflow: hidden;
  margin: 20px auto 0 auto;
  padding: 0 0 10px 0;} 

#sidebar_container
{ float: left;
  width: 224px;}

.sidebar_top
{ width: 222px;
  height: 14px;
  background: transparent url(side_top.png) no-repeat;}

.sidebar_base
{ width: 222px;
  height: 14px;
  background: url(side_base.png) no-repeat;}

.sidebar
{ float: right;
  width: 222px;
  padding: 0;
  margin: 0 0 16px 0;}

.sidebar_item
{ background: url(side_back.png) repeat-y;
  padding: 0 15px;
  width: 192px;}

.sidebar li a.selected
{ color: #444;} 

.sidebar ul
{ margin: 0;} 

#content
{ text-align: left;
  width: 620px;
  padding: 0 0 0 5px;
  float: right;}
  
#content ul
{ margin: 2px 0 22px 0px;}

#content ul li, .sidebar ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 0 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  height: 80px;
  padding: 28px 0 5px 0;
  text-align: center; 
  background: #000;
  border-top: 2px solid #2D2D2D;
  color: #FFF;}

#footer p
{ line-height: 1.7em;
  padding: 0 0 10px 0;}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #B48A7C;
  text-decoration: none;}


.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  

table.Prices {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border: 3px solid #000000;
  background-color: white;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.Prices td, table.Prices th {
  border: 3px solid #000000;
  padding: 5px 8px;
}
table.Prices tbody td {
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}
table.Prices tfoot td {
  font-size: 14px;
}



table.Prizes {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 0px solid #000000;
  background-color: #4A4A4A;
  width: 92%;
  height: 193px;
  text-align: center;
  border-collapse: collapse;
}
table.Prizes td, table.Prizes th {
  border: 2px solid #4A4A4A;
  padding: 10px 1px;
}
table.Prizes tbody td {
  font-size: 11px;
  color: #E6E6E6;
}
table.Prizes tr:nth-child(even) {
  background: #888888;
}
table.Prizes thead {
  background: #000000;
  border-bottom: 3px solid #000000;
}
table.Prizes thead th {
  font-size: 15px;
  font-weight: normal;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
table.Prizes thead th:first-child {
  border-left: none;
}

table.Prizes tfoot td {
  font-size: 12px;
}